.header {
        padding: 10px 0;
}

.header > ul {
  display: flex;
  justify-content: center;
}

.header > ul li {
        margin-left: 20px;
        font-size:20px;
        letter-spacing: 1px;
}
