*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}